!acmart.cls
acmart.pdf
acmguide.pdf
samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
!ACM-Reference-Format.bst
!acmauthoryear.bbx
!acmauthoryear.cbx
!acmnumeric.bbx
!acmnumeric.cbx
!acmdatamodel.dbx
!samples/ACM-Reference-Format.bst
!samples/*.bbx
!samples/*.cbx
!samples/*.dbx